.section2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
  gap: 2%;
  position: relative;
}

.section2-container.reverse {
  flex-direction: row-reverse;
}

.section2-image img {
  height: 101vh;
  width: 100%;
  max-width: 1500px;
  object-fit: cover;
        height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.section2-image :hover {
  position: relative;
  background-origin: border-box;
  position: relative;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
      height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;
}

.section2-content {

  padding: 10px;
  max-width: 500px;
}

.section2-subtitle {
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Poppins;
}

.section2-heading {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: Poppins;
}

.section2-paragraph {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
  font-family: Poppins;
}

.section2-list {
  list-style: none;
  padding: 0;
}

.section2-list li {
  font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
font-weight: 400;
line-height: 25.144px;
color: rgba(0, 0, 0, 0.85);
  font-size: 15px;
  margin-bottom: 12px;
  display: flex;
  align-items: start;
  font-family: Poppins;
  gap: 10px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #1aa3ff;
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;
}
.section2-container.reverse {
  flex-direction: row-reverse;
}

.step-label {
  background-color: #00a4d6;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  white-space: nowrap;
}
.section2underline{
    width: 30px;
  height: 4px;
  background-color: #00BCD4;
  /* margin: 0 auto 10px; */
  border-radius: 10px;
  margin-right: 200px;
}
.logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 60px;
    margin-bottom: 40px;
    height: 95px;
}
.logos img{
  height: 100px;
    margin-right: 8%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
   background-position: center center;
}



