  .section2-container {
    height: 100%;
    width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
  position: relative;
  gap: 8%;
}

.section2-container.reverse {
  gap: 90px;
  flex-direction: row-reverse;
}

.section2-image {
  overflow: hidden; 
  height: 100vh;
  width: 60%;
  position: relative;
}

.section2-image img {
  overflow: hidden;
  height: 100%;
  width: 100%;
    object-fit: cover;
  transition:  0.5s ease-in-out; }

.section2-image img:hover {
  transform: scale(1.1); }


.section2-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
    position: relative;
    width: 40%;
    height: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    /* padding-top: 400px;
    padding-bottom: 300px;
    padding-left: 60px;
    padding-right: 90px; */
}  

.section2-subtitle {
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Poppins;
}

.section2-heading {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: Poppins;
}

.section2-paragraph {
  font-size: 14px;
  margin-bottom: 20px;
  color: #333;
  font-family: Poppins;
}

.section2-list {
  list-style: none;
  padding: 0;
}

.section2-list li {
  font-size: 13px;
  font-weight: 400;
  line-height: 25.144px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 12px;
  display: flex;
  align-items: start;
  font-family: Poppins;
  gap: 10px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #1aa3ff;
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;
}


.section2underline{
  width: 30px;
  height: 4px;
  background-color: #00BCD4;
  border-radius: 10px;
  margin-right: 200px;
}

 .logos {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 50px;
  height: 15px;
  margin-bottom: 70px;
  gap: 30px;
} 

.logoimg {
  height: 99px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 99px;
  background-position: center center;

} 
